<div class="min-h-screen">
	<div class="relative isolate flex h-96 flex-col justify-end overflow-hidden pb-8 pl-8 print:hidden">
		<!-- src="https://via.placeholder.com/1920x1080" -->
		<img class="absolute inset-0 h-full w-screen object-cover" src="../../../../../assets/img/pizza.jpg" alt="University of Southern California" />
		<div class="absolute inset-0 bg-gradient-to-t from-black via-black/40"></div>
		<h3 class="z-10 mt-3 text-3xl font-bold text-white">Recipe name</h3>
		<div class="z-10 flex justify-between gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
			<div class="flex items-center ps-4 text-gray-400">
				<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				</svg>
				<span class="font-semibold"> March 22,2024</span>
			</div>
			<!-- Rating  -->
			<app-rating></app-rating>
		</div>
		<!-- <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">description</div> -->
	</div>
	<h1 class="hidden pb-9 pt-12 text-center font-Poppins font-bold print:block">Name of Recipe</h1>
	<img class="mx-auto hidden w-[80vw] print:block" src="../../../../../assets/img/pizza.jpg" alt="University of Southern California" />
	<div class="container mx-auto">
		<nav class="flex py-8 print:hidden" aria-label="Breadcrumb">
			<ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
				<li class="inline-flex items-center">
					<a
						routerLink="/"
						class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-mygreen-300 dark:text-gray-400 dark:hover:text-white">
						<svg class="me-2.5 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
							<path
								d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
						</svg>
						Home
					</a>
				</li>
				<li>
					<div class="flex items-center">
						<svg
							class="mx-1 h-3 w-3 text-gray-400 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 6 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
						</svg>
						<a routerLink="/" class="ms-1 text-sm font-medium text-gray-700 hover:text-mygreen-300 dark:text-gray-400 dark:hover:text-white md:ms-2">
							Recipes
						</a>
					</div>
				</li>
				<li aria-current="page">
					<div class="flex items-center">
						<svg
							class="mx-1 h-3 w-3 text-gray-400 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 6 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
						</svg>
						<span class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400 md:ms-2"> Name of the recipe </span>
					</div>
				</li>
			</ol>
		</nav>

		<!-- <p class="pb-2 pt-5 text-gray-800">description :</p> -->
		<h1 class="pt-5 text-3xl font-bold">Description</h1>
		<hr class="mb-8 mt-4 h-px border-0 bg-gray-200 dark:bg-gray-700" />
		<p class="pb-5 text-gray-600">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat maiores voluptas, nulla sapiente distinctio odio! Reprehenderit, nesciunt hic
			eum dolorem itaque eaque maxime nisi? Fuga minima odio iure! Debitis, blanditiis?
		</p>
		<!-- haaaaaaaaaaa -->
		<div class="py-10">
			<h1 class="text-3xl font-bold">Steps</h1>
			<hr class="mb-8 mt-4 h-px border-0 bg-gray-200 dark:bg-gray-700" />
			<ol class="relative border-s border-gray-200 text-gray-600 dark:border-gray-700 dark:text-gray-400">
				<li class="mb-10 ms-6">
					<span
						class="absolute -start-4 flex h-8 w-8 items-center justify-center rounded-full bg-green-200 ring-4 ring-white dark:bg-green-900 dark:ring-gray-900">
						1
					</span>
					<h3 class="font-medium leading-tight">Step 1</h3>
					<p class="text-sm">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sit sed ad perferendis odit placeat voluptas. Tempore quod, ad tenetur
						repellendus vero maiores consequuntur unde dolorem molestias vel soluta. Odit. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
						Repudiandae sint corrupti ipsum dolor, sit amet consectetur adipisicing elit. Eum soluta unde quae sint quod tenetur rem quo blanditiis
						ad? Corporis, facere. Recusandae expedita dolorum illum error incidunt enim dolore eum!
					</p>
				</li>
				<li class="mb-10 ms-6">
					<span
						class="absolute -start-4 flex h-8 w-8 items-center justify-center rounded-full bg-green-200 ring-4 ring-white dark:bg-gray-700 dark:ring-gray-900">
						2
					</span>
					<h3 class="font-medium leading-tight">Step 2</h3>
					<p class="text-sm">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sit sed ad perferendis odit placeat voluptas. Tempore quod, ad tenetur
						repellendus eum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum soluta unde quae sint quod tenetur rem quo blanditiis ad?
						Corporis, facere. Recusandae expedita dolorum illum error incidunt enim dolore eum!
					</p>
				</li>
				<li class="mb-10 ms-6">
					<span
						class="absolute -start-4 flex h-8 w-8 items-center justify-center rounded-full bg-green-200 ring-4 ring-white dark:bg-gray-700 dark:ring-gray-900">
						3
					</span>
					<h3 class="font-medium leading-tight">Step 3</h3>
					<p class="text-sm">Lorem ipsum dolor sit amet, Recusandae expedita dolorum illum error incidunt enim dolore eum!</p>
				</li>
				<li class="ms-6">
					<span
						class="absolute -start-4 flex h-8 w-8 items-center justify-center rounded-full bg-green-200 ring-4 ring-white dark:bg-gray-700 dark:ring-gray-900">
						4
					</span>
					<h3 class="font-medium leading-tight">Step 4</h3>
					<p class="text-sm">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sit sed ad perferendis odit placeat voluptas. Tempore quod, ad tenetur
						repellendus vero maiores consequuntur unde dolorem molestias vel soluta.
					</p>
				</li>
			</ol>
		</div>

		<!-- Comment section  -->
		<div class="my-12 print:hidden" id="comments">
			<h1 class="text-3xl font-bold">Comments</h1>
			<hr class="mb-8 mt-4 h-px border-0 bg-gray-200 dark:bg-gray-700" />
			<div class="flex flex-col justify-between md:flex-row">
				<div>
					<app-comment></app-comment>
					<app-comment></app-comment>
					<app-comment></app-comment>
				</div>
				<form class="mx-auto min-w-80 max-w-lg">
					<label for="message" class="mb-2 block font-medium text-gray-900 dark:text-white">Write a Review </label>
					<div class="flex items-center pb-2 text-sm">
						<span>Rate this recipe</span>
						<svg class="ms-1 h-4 w-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
							<path
								d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
						</svg>
						<svg class="ms-1 h-4 w-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
							<path
								d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
						</svg>
						<svg class="ms-1 h-4 w-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
							<path
								d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
						</svg>
						<svg class="ms-1 h-4 w-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
							<path
								d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
						</svg>
						<svg
							class="ms-1 h-4 w-4 text-gray-300 dark:text-gray-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 22 20">
							<path
								d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
						</svg>
					</div>
					<textarea
						id="message"
						rows="4"
						class="focus:ring-m focus:border-m dark:focus:ring-m dark:focus:border-m block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
						placeholder="Leave a comment..."></textarea>
					<div class="mt-4 flex justify-end">
						<button
							class="bg-m inline-flex items-center rounded-lg bg-mygreen-200 px-4 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-mygreen-200 hover:bg-mygreen-300"
							type="submit">
							Submit
							<svg class="ms-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
								<path
									d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
							</svg>
						</button>
					</div>
				</form>
			</div>
		</div>

		<app-speed-dial></app-speed-dial>
	</div>
</div>
