<div class="grid lg:grid-cols-2 gap-20 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
	<div class="py-6 hidden md:block">
		<img src="../../../../assets/img/about-us.png" sizes="(max-width: 800px) 100vw, 620px" width="420" alt="" />
	</div>
	<div class="flex flex-col pt-9 justify-evenly min-h-[60vh] md:min-h-screen">
		<h1 class="font-bold text-xl tracking-[0.18em] uppercase text-salmon-200">Testimonials</h1>
		<h1 class="text-4xl inline-block text-black">
			What Our Customers <br />
			Say About Us
		</h1>
		<div class="text-lg text-gray-600 font-medium text-wrap">
			“I had the pleasure of dining at Foodi last night, and I'm still raving about the experience! The attention to detail in presentation and
			service was impeccable”
		</div>
		<div class="flex gap-12 pt-10">
			<div class="flex">
				<img class="w-12 h-12 object-contain" alt="" src="../../../../assets/img/user1.png" />
				<img class="w-12 h-12 -left-4 relative object-cover" alt="" src="../../../../assets/img/user2.png" />
				<img class="w-12 h-12 -left-8 relative object-cover" alt="" src="../../../../assets/img/user3.png" />
			</div>
			<div>
				<div class="text-lg font-semibold text-black">Customer Feedback</div>
				<div class="flex items-center justify-evenly max-w-52">
					<img class="w-5 h-5 overflow-hidden" alt="" src="../../../../assets/img/fi-sr-star.png" />
					<div class="font-semibold text-darkslategray-200">4.9</div>
					<div class="font-medium text-gray-600">(18.6k Reviews)</div>
				</div>
			</div>
		</div>
	</div>
</div>
