<div class="grid lg:grid-cols-2 gap-20 place-items-center pt-16 pb-8 md:pt-12" id="aboutus">
	<div class="py-6 hidden md:block">
		<img src="../../../../assets/img/about-us.png" sizes="(max-width: 800px) 100vw, 620px" width="420" alt="" />
	</div>
	<div class="flex flex-col pt-9 justify-evenly min-h-[60vh] md:min-h-screen">
		<h1 class="font-bold text-xl tracking-[0.18em] uppercase text-salmon-200">Testimonials</h1>
		<h1 class="text-4xl inline-block text-black">
			What Our Users <br />
			Say About Us
		</h1>
		<div class="text-lg text-gray-600 font-medium text-wrap">
			“I recently tried a recipe suggested by EpicRecipe, I whipped up a delightful meal with what I had in my kitchen. The result was absolutely
			delicious, and I can't wait to explore more recipes!”
		</div>
		<div class="flex gap-12 pt-10">
			<div class="flex">
				<img class="w-12 h-12 object-contain" alt="" src="../../../../assets/img/user1.png" />
				<img class="w-12 h-12 -left-4 relative object-cover" alt="" src="../../../../assets/img/user2.png" />
				<img class="w-12 h-12 -left-8 relative object-cover" alt="" src="../../../../assets/img/user3.png" />
			</div>
			<div>
				<div class="text-lg font-semibold text-black">User Feedback</div>
				<div class="flex items-center justify-evenly max-w-52">
					<svg class="w-5 h-5 overflow-hidden text-yellow-300 pr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
						<path
							fill-rule="evenodd"
							d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
							clip-rule="evenodd" />
					</svg>

					<div class="font-semibold text-darkslategray-200">4.9</div>
					<div class="font-medium text-gray-600">(18.6k Reviews)</div>
				</div>
			</div>
		</div>
	</div>
</div>
