<div class="bg-offwhite">
	<svg class="w-fit absolute hidden lg:block" viewBox="0 0 1440 393" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="719.5" cy="-958.5" r="1351.5" fill="#C7DEC1" />
	</svg>
	<app-navbar></app-navbar>
	<div class="container min-h-screen mx-auto">
		<app-hero-section></app-hero-section>
		<div class="grid grid-cols-1 py-6 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 content-center justify-items-center">
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
			<div class="cat-card flex flex-col justify-evenly">
				<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
					<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
				</div>
				<div>
					<div class="font-semibold text-gray-700 text-center">Main Dish</div>
					<div class="font-thin text-sm text-center">(86 dishes)</div>
				</div>
			</div>
		</div>
		<app-card-dishe></app-card-dishe>
		<app-card-about-us></app-card-about-us>
		<app-footer></app-footer>
	</div>
</div>
