<div class="bg-offwhite">
	<svg class="w-fit absolute hidden lg:block" viewBox="0 0 1440 393" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="719.5" cy="-958.5" r="1351.5" fill="#C7DEC1" />
	</svg>
	<app-navbar></app-navbar>
	<div class="container min-h-screen mx-auto">
		<app-hero-section></app-hero-section>
		<h1 class="text-center font-bold text-xl tracking-[0.18em] uppercase text-salmon-200 pt-20">Special Recipes</h1>
		<h1 class="text-center text-2xl font-bold text-black">Popular Categories</h1>
		<div class="flex flex-no-wrap overflow-x-scroll scrolling-touch items-start mb-8 gap-4 p-8 scrollbar-default" id="categories">
			<app-category></app-category>
			<app-category></app-category>
			<app-category></app-category>
			<app-category></app-category>
			<app-category></app-category>
			<app-category></app-category>
		</div>

		<h1 class="font-bold text-xl tracking-[0.18em] uppercase text-salmon-200 mt-12">Special Recipes</h1>
		<h1 class="text-3xl font-bold mt-3 mb-10">
			Standout Dishes <br />
			From Our Website
		</h1>
		<!-- grid auto-rows-max auto-cols-auto grid-flow-col justify-items-center -->
		<div class="flex flex-wrap justify-center sm:justify-between">
			<app-card-dishe></app-card-dishe>
			<app-card-dishe></app-card-dishe>
			<app-card-dishe></app-card-dishe>
		</div>
		<app-card-about-us></app-card-about-us>
		<app-footer></app-footer>
	</div>
</div>
