<div class="bg-offwhite">
	<svg class="absolute hidden w-fit lg:block" viewBox="0 0 1440 393" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="719.5" cy="-958.5" r="1351.5" fill="#C7DEC1" />
	</svg>
	<app-navbar></app-navbar>
	<div class="container mx-auto min-h-screen">
		<app-hero-section></app-hero-section>
		<h1 class="pt-20 text-center text-xl font-bold uppercase tracking-[0.18em] text-salmon-200">Special Recipes</h1>
		<ng-container *ngIf="landingPage?.categories">
			<app-category [categories]="landingPage.categories ?? []"></app-category>
		</ng-container>

		<h1 class="mt-12 text-xl font-bold uppercase tracking-[0.18em] text-salmon-200">Special Recipes</h1>
		<h1 class="mb-10 mt-3 text-3xl font-bold">
			Standout Dishes <br />
			From Our Website
		</h1>
		<ng-container *ngIf="landingPage?.recipes">
			<app-card-dishe [recipes]="landingPage.recipes ?? []"></app-card-dishe>
		</ng-container>
		<app-card-about-us></app-card-about-us>
		<app-footer></app-footer>
	</div>
</div>
