<div class="rounded-21xl bg-white shadow-custom w-80 h-96 flex flex-col">
	<div class="flex justify-end">
		<div
			class="flex items-center flex-col justify-center w-20 h-16 rounded-tl-none rounded-tr-18xl-5 rounded-br-none rounded-bl-23xl-5 bg-limegreen-200">
			<img class="w-6 h-6 overflow-hidden" alt="" src="../../../../assets/img/fi-sr-heart.png" />
		</div>
	</div>
	<div class="p-8 -top-16 relative min-h-96 flex flex-col justify-around">
		<div class="flex justify-center items-center">
			<img class="w-40 h-40 object-cover" alt="" src="../../../../assets/img/Fattoush salad.png" />
		</div>
		<div class="text-2xl font-semibold text-black">Fattoush salad</div>
		<div class="text-sm font-semibold text-gray-800">Description of the item</div>
		<div class="flex justify-between">
			<div class="font-semibold">
				<span class="text-sm text-salmon-200">$</span>
				<span class="text-11xl text-black">24.00</span>
			</div>
			<div class="flex items-center">
				<img class="w-5 h-5 overflow-hidden mr-3" alt="" src="../../../../assets/img/fi-sr-star.png" />
				<div class="font-semibold text-darkslategray-200">4.9</div>
			</div>
		</div>
	</div>
</div>
