<!-- drawer init and toggle -->
<div class="flex justify-between pb-8">
	<span class="text-3xl font-bold text-gray-800"> Recipes</span>
	<div class="text-center">
		<button
			class="mb-2 flex justify-between rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-blue-800 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700"
			type="button"
			data-drawer-target="drawer-right-example"
			data-drawer-show="drawer-right-example"
			data-drawer-placement="right"
			aria-controls="drawer-right-example">
			ADD
		</button>
	</div>
</div>
<!-- drawer component -->
<div
	id="drawer-right-example"
	class="fixed right-0 top-0 z-50 h-screen w-80 translate-x-full overflow-y-auto bg-white p-4 transition-transform dark:bg-gray-800 md:w-96"
	tabindex="-1"
	aria-labelledby="drawer-right-label">
	<h5 id="drawer-right-label" class="mb-4 inline-flex items-center text-base font-semibold text-gray-500 dark:text-gray-400">
		<svg class="me-2.5 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
			<path
				d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
		</svg>
		Add New Recipe
	</h5>
</div>
