<!-- drawer init and toggle -->
<div class="flex justify-between pb-8">
	<span class="text-3xl font-bold text-gray-800"> Recipes</span>
	<div class="text-center">
		<button
			class="mb-2 flex justify-between rounded-lg bg-mygreen-300 px-5 py-2.5 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-mygreen-700 dark:bg-mygreen-300 dark:focus:ring-mygreen-700 dark:hover:bg-mygreen-700"
			[routerLink]="['/dashboard/recipes/new']">
			ADD
		</button>
	</div>
</div>
