<form (submit)="onSubmit()">
	<div class="grid grid-cols-1 gap-4">
		<div class="flex flex-col">
			<label for="title" class="text-sm font-semibold text-gray-600 dark:text-gray-300">Title</label>
			<input
				[(ngModel)]="toSave.title"
				name="title"
				type="text"
				id="title"
				class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" />
		</div>

		<div class="flex flex-col">
			<label for="category" class="text-sm font-semibold text-gray-600 dark:text-gray-300">Category</label>

			<select
				id="category"
				name="category"
				[(ngModel)]="selectedCategory"
				class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm">
				<option value="" disabled>Select Category</option>
				<option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
			</select>
		</div>
		<div class="flex flex-col">
			<label for="description" class="text-sm font-semibold text-gray-600 dark:text-gray-300">Description</label>
			<textarea
				[(ngModel)]="toSave.description"
				id="description"
				name="description"
				class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"></textarea>
		</div>
		<div class="flex flex-col">
			<label for="tags" class="text-sm font-semibold text-gray-600 dark:text-gray-300">Tags</label>
			<p-multiSelect
				[options]="tags"
				[(ngModel)]="selectedTags"
				[filter]="true"
				display="chip"
				placeholder="Select Tags"
				name="tags"
				id="tags"
				optionLabel="name"
				optionValue="id"></p-multiSelect>
		</div>

		<div class="flex flex-col">
			<label for="steps" class="text-sm font-semibold text-gray-600 dark:text-gray-300">Steps</label>
			<div id="steps">
				<div *ngFor="let step of steps; let i = index" class="flex flex-col pb-5" #stepDiv>
					<!-- Recipe Step Input Field -->
					<label for="step" class="text-xs font-semibold text-gray-600 dark:text-gray-300">Step {{ i + 1 }}</label>
					<textarea
						class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
						name="step"
						rows="2"
						[(ngModel)]="step.step"></textarea>
				</div>
			</div>
		</div>
		<!-- Clone Button -->
		<button (click)="cloneStep()">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
			</svg>
		</button>

		<div class="flex flex-col">
			<label for="image" class="text-sm font-semibold text-gray-600 dark:text-gray-300">Image</label>

			<input type="file" id="image" accept="image/*" (change)="onFileSelected($event)" />
		</div>

		<!-- <app-drag-and-drop [(ngModel)]="toSave.image" name="image"></app-drag-and-drop> -->
		<div class="flex justify-between">
			<button
				type="button"
				class="mt-4 flex justify-between rounded-lg bg-red-500 px-5 py-2.5 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-red-700 dark:bg-red-500 dark:focus:ring-red-700 dark:hover:bg-red-500">
				Cancel
			</button>

			<button
				type="submit"
				class="mt-4 flex justify-between rounded-lg bg-mygreen-300 px-5 py-2.5 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 hover:bg-mygreen-700 dark:bg-mygreen-500 dark:focus:ring-mygreen-700 dark:hover:bg-mygreen-500">
				Update
			</button>
		</div>
	</div>
</form>
