<div class="min-h-[80vh] flex flex-col items-center">
	<h1 class="text-mygreen-100 lg:text-white text-9xl font-black font-Playfair text-center mt-3 z-10">Let's Eat</h1>
	<img class="max-w-[410px] absolute top-72 lg:top-32 z-20" src="../../../../assets/img/banner.png" alt="" />
	<img class="max-w-[450px] absolute hidden lg:block top-48 mix-blend-multiply" src="../../../../assets/img/powder.jpg" alt="" />
	<img class="absolute hidden lg:block w-24 left-[67%] top-[28%] z-0" src="../../../../assets/img/bssla.png" alt="" />
	<img class="absolute hidden lg:block w-24 left-[13%] top-[73%] z-30" src="../../../../assets/img/felfla.png" alt="" />
	<img class="absolute hidden lg:block w-24 left-[36%] top-[10%] z-30" src="../../../../assets/img/moutard.png" alt="" />
	<img class="absolute hidden lg:block w-32 left-[71%] top-[64%] z-30" src="../../../../assets/img/tomato-slice1.png" alt="" />
	<img class="absolute hidden lg:block w-24 left-[33%] top-[27%] z-0" src="../../../../assets/img/tomato-slice2.png" alt="" />
	<img class="absolute hidden lg:block w-32 left-[66%] top-[53%] z-30" src="../../../../assets/img/zaatar.png" alt="" />
	<img class="absolute hidden lg:block w-16 left-[29%] top-[24%] z-30" src="../../../../assets/img/basil.png" alt="" />
	<img class="absolute hidden lg:block w-16 left-[50%] top-[16%] z-30" src="../../../../assets/img/Coriander.png" alt="" />
	<img class="absolute hidden lg:block w-24 left-[26%] top-[55%] z-30" src="../../../../assets/img/courgette.png" alt="" />
	<img class="absolute hidden lg:block w-24 left-[60%] top-[11%] z-30" src="../../../../assets/img/chili.png" alt="" />
</div>
<div class="text-center">
	<button
		[routerLink]="['recipe', 1]"
		class="text-white font-semibold min-w-56 max-w-64 py-2 rounded-full bg-mygreen-300 hover:bg-mygreen-200 ease-in-out duration-150 z-50">
		See more Recipes
	</button>
</div>
