<div class="container min-h-screen mx-auto">
	<app-navbar></app-navbar>
	<div class="grid grid-cols-1 py-6 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
		<div class="cat-card flex flex-col justify-evenly">
			<div class="mx-auto justify-center flex items-center rounded-[50%] bg-lightgoldenrodyellow w-32 h-32">
				<img class="w-24 h-20 object-cover" alt="" src="../../../../assets/img/pngwing 4.png" />
			</div>
			<div>
				<div class="font-semibold text-gray-700 text-center">Main Dish</div>
				<div class="font-thin text-sm text-center">(86 dishes)</div>
			</div>
		</div>
	</div>
	<app-card-dishe></app-card-dishe>
	<app-card-about-us></app-card-about-us>
	<app-footer></app-footer>
</div>
