<div class="flex min-h-[80vh] flex-col items-center">
	<h1 class="z-10 mt-3 text-center font-Playfair text-9xl font-black text-mygreen-100 lg:text-white">Let's Eat</h1>
	<img class="absolute top-72 z-20 max-w-[410px] lg:top-32" src="../../../../assets/img/banner.png" alt="" />
	<img class="absolute top-48 hidden max-w-[450px] mix-blend-multiply lg:block" src="../../../../assets/img/powder.jpg" alt="" />
	<img class="absolute left-[67%] top-[28%] z-0 hidden w-24 lg:block" src="../../../../assets/img/bssla.png" alt="" />
	<img class="absolute left-[13%] top-[73%] z-30 hidden w-24 lg:block" src="../../../../assets/img/felfla.png" alt="" />
	<img class="absolute left-[36%] top-[10%] z-30 hidden w-24 lg:block" src="../../../../assets/img/moutard.png" alt="" />
	<img class="absolute left-[71%] top-[64%] z-30 hidden w-32 lg:block" src="../../../../assets/img/tomato-slice1.png" alt="" />
	<img class="absolute left-[33%] top-[27%] z-0 hidden w-24 lg:block" src="../../../../assets/img/tomato-slice2.png" alt="" />
	<img class="absolute left-[66%] top-[53%] z-30 hidden w-32 lg:block" src="../../../../assets/img/zaatar.png" alt="" />
	<img class="absolute left-[29%] top-[24%] z-30 hidden w-16 lg:block" src="../../../../assets/img/basil.png" alt="" />
	<img class="absolute left-[50%] top-[16%] z-30 hidden w-16 lg:block" src="../../../../assets/img/Coriander.png" alt="" />
	<img class="absolute left-[26%] top-[55%] z-30 hidden w-24 lg:block" src="../../../../assets/img/courgette.png" alt="" />
	<img class="absolute left-[60%] top-[11%] z-30 hidden w-24 lg:block" src="../../../../assets/img/chili.png" alt="" />
</div>
<div class="text-center">
	<button
		[routerLink]="['recipe', 1]"
		class="z-50 min-w-56 max-w-64 rounded-full bg-mygreen-300 py-2 font-semibold text-white duration-150 ease-in-out hover:bg-mygreen-200">
		See more Recipes
	</button>
</div>
