<div class="mt-6 flex flex-col">
	<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
		<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
			<div class="overflow-hidden rounded-md border-b border-gray-200 shadow-md">
				<table class="min-w-full divide-y divide-gray-200 overflow-x-scroll">
					<thead class="bg-gray-50">
						<tr>
							<th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Name</th>
							<!-- <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Phone</th> -->
							<th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Role</th>
							<th scope="col" class="relative px-6 py-3">
								<span class="sr-only">Edit</span>
							</th>
						</tr>
					</thead>
					<tbody class="divide-y divide-gray-200 bg-white">
						@for( user of users ; track $index){
						<tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
							<td class="whitespace-nowrap px-6 py-4">
								<div class="flex items-center">
									<div class="h-10 w-10 flex-shrink-0">
										<img
											class="h-10 w-10 rounded-full"
											src="assets/img/users/<?= ($user['picture']) ?  $user['picture'] :  'avatar.png' ?>"
											alt="{{ user.firstName }} {{ user.lastName }}" />
									</div>
									<div class="ml-4">
										<div class="text-sm font-medium text-gray-900">{{ user.firstName }} {{ user.lastName }}</div>
										<div class="text-sm text-gray-500">{{ user.email }}</div>
									</div>
								</div>
							</td>

							<td class="whitespace-nowrap px-6 py-4">
								<span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800"> {{ user.roles }} </span>
							</td>
							<!-- <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500"><?= $user['role'] ?></td> -->
							<td class="whitespace-nowrap px-6 py-4 text-right text-sm font-medium">
								<a href="edit.php" class="text-indigo-600 hover:text-indigo-900">Edit</a>
							</td>
						</tr>
						}@empty { }
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
